body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(31, 29, 29);
  overflow: hidden; 
}
.titles {
  min-width: 100%; 
  margin: 0 auto;
  margin-top: 50%;
  font-family: Roboto;
  color: rgb(255, 218, 11);
  font-size: 6vw; 
  font-weight: bold;
  position: relative;
  text-align: justify;
  perspective: 450px;
}
.titlecontent {
  animation: crawl 30s linear infinite; 
  position: absolute;  
}
.title {
  text-align: center;
}
@keyframes crawl {
 0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}